.container{

    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    max-width: 300px;
    background-color: #7952b3;
    padding: 22px;
    border-radius: 15px;
}

h1{
    margin-top: none;
    color: white;
}

input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: white;
}